// Colors
$primary: #103a57;

$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

$navbarStyle: "navbar-b";
$theme-site-navbar-primary-type: dark;
$theme-site-navbar-logo-height: 45px;

$theme-site-navbar-primary-bg-color: #caa648;
$theme-site-navbar-primary-link-color: #000;
$theme-site-navbar-primary-link-active-color: #fff;
$theme-site-navbar-primary-link-hover-color: #fff;

$theme-site-navbar-secondary-bg-color: #000;

@import "../../node_modules/@seed-world-group/package-global/scss/core";
