$ const { id, type, pageNode, ...rest } = input;

<global-content-company-layout
  id=id
  type=type
  page-node=pageNode
  ...rest
>
  <@section>
    <site-promo-card-rotation-block />
  </@section>

  <!-- <@section>
    <theme-client-side-most-popular-block />
  </@section> -->
</global-content-company-layout>
