// Fonts
@import url("https://use.typekit.net/eae7fel.css");
$skin-font-family-primary: solitaire-mvb-pro, sans-serif;
$skin-font-family-secondary: informapro, sans-serif;

// Navbar
$theme-site-navbar-logo-height: 45px !default;

// Ads
$leaderboard-min-height-mobile: 100px !default;
$leaderboard-min-height-desktop: 250px !default;

$theme-site-footer-corporate-logo-height: 40px !default;
