// import local variables
@import "variables";

// import theme css
@import "../../node_modules/@seed-world-group/package-theme-monorail/scss/core";

// page wrapper
.page-wrapper {
  &__content-name {
    margin-bottom: 1rem;
  }

  .details {
    &__image {
      float: right;
      clear: both;
    }
  }
}

// content page
.page-contents {
  $self: &;
  &__content-body,
  &__content-profile,
  &__content-sidebar {
    .clear {
      display: none;
    }
  }
}

// skin components
@import "./components/carousel";
@import "./components/digital-edition";
@import "./components/directory-facets";
@import "./components/blocks/company-search";
@import "./components/blocks/directory-section-feed";
@import "./components/blocks/magazine-issues";
@import "./components/blocks/newsletter-signup-banner-static";
@import "./components/blocks/section-search";
@import "./components/blocks/site-navbar2";

@import "../components/magazine/scss/index";

body {
  -webkit-font-smoothing: antialiased;
  // set a default letter spacing of .25px, since most fonts have some form of spacing
  letter-spacing: .25px;
}

label {
  @include skin-typography($style: "input-label");
}

.col-spacer {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.form-control,
.custom-select {
  letter-spacing: $skin-input-letter-spacing;
  border-radius: $input-border-radius; // must force this value since radius is disabled
  &:hover:not(:focus) {
    border-color: $skin-input-hover-border-color;
  }

  &--bg-white {
    background-color: #fff;
    &:focus {
      background-color: #fff;
    }
  }
}

.custom-control-label {
  &::before {
    border-radius: $input-border-radius; // must force this value since radius is disabled
  }
  &--bg-white {
    &::before {
      background-color: #fff;
    }
  }
}

.btn-primary {
  @include skin-button($style: "primary");
}

.btn-secondary {
  @include skin-button($style: "secondary");
}

.btn-light {
  @include skin-button($style: "light");
}

.carousel {
  &--project-gallery {
    margin-bottom: 1.5rem;
    @media (min-width: 900px) {
      $margin: ($skin-content-primary-image-max-width - $skin-content-body-max-width) / 2 * -1;
      position: relative;
      width: $skin-content-primary-image-max-width;
      margin-left: $margin;
    }

    .carousel-caption {
      &--credit {
        font-size: 14px;
      }
      p {
        display: block;
        margin-bottom: 0;
        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.document-container {
  padding-top: 0;
  background-color: $white;
}

.node {
  $self: &;
  $image-border: 1px solid rgba(239, 239, 239, .9);

  &__header {
    margin-bottom: 6px;
  }

  &__content-published {
    @include skin-typography($style: "date");
  }

  &__image {
    border: $image-border;
  }

  &__image-inner-wrapper--fluid-3by2 {
    #{ $self } {
      &__image {
        border: $image-border;
        object-fit: cover;
      }
    }
  }

  &--video-content-type {
    #{ $self } {
      &__image-inner-wrapper {
        &::after {
          $size: 70px;
          width: 70px;
          height: 70px;
          opacity: 1;
        }
      }
    }
  }
}

.node-list {
  &__header {
    padding-bottom: 0;
  }
}

.card-deck-flow {
  $self: &;

  &--3-cols {
    #{ $self } {
      &__node {
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }
  }

  &--4-cols {
    #{ $self } {
      &__node {
        // account for smaller container max-width and break earlier than normal
        @include media-breakpoint-up(sm) {
          @include make-col(12);
        }
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(3);
        }

        // @include media-breakpoint-down(sm) {
        //   margin-bottom: 16px;
        // }
        // &:last-child {
        //   @include media-breakpoint-down(sm) {
        //     margin-bottom: 0;
        //   }
        // }
      }
    }
  }
}

// ensure all anvato embeds are treated like videos
[data-oembed-provider="Anvato"] {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
}

[data-embed-type][data-embed-align="left"] {
  clear: left;
}

[data-embed-type][data-embed-align="right"] {
  clear: right;
}
