
$ const node = {
  type: "promotion",
  shortName: "Buyer's Guide",
  teaser: "Information on more than 3,000 companies, sorted by category. Listings are updated daily.",
  linkText: "Learn More",
  siteContext: {
    path: "/directory",
  },
  primaryImage: {
    src: "https://img.seedworld.com/files/base/abmedia/all/image/static/ab/Buyer_s_Guide_Tile.jpeg?auto=format,compress&w=120&fit=crop",
    alt: "Buyer's Guide",
    isLogo: false,
  }
};

<global-standard-promo-block node=node />
